<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- General -->
    <category label="70168">
        
        <setting id="thumbnail_type" type="enum" lvalues="30011|30012|30200" label="30010" default="2"/>
        <setting id="channel_language" type="labelenum" values="auto|all|ita" label="30019" default="all"/>
        <setting id="trakt_sync" type="bool" label="70109" default="false"/>
        <setting id="forceview" type="bool" label="30043" default="false"/>
        <setting id="faster_item_serialization" type="bool" label="30300" default="false"/>
        <setting id="resolver_dns" type="bool" label="707408" default="true" enable="true" visible="true"/>
        <setting id="debug" type="bool" label="30003" default="false"/>
        <setting label="70169" type="lsep"/>
        <setting id="resolve_priority" type="enum" label="70110" lvalues="70164|70165|70166" default="0"/>
        <setting id="resolve_stop" type="bool" label="70111" default="true"/>
        <setting id="hidepremium" type="bool" label="70112" default="false"/>
        <setting type="sep"/>
        <setting label="60305" type="lsep"/>
        <setting id="adult_aux_intro_password" type="text" label="70113" option="hidden"  default=""/>
        <setting id="adult_mode" type="enum" lvalues="60602|60616|70114" label="30002" enable="!eq(-1,)" default="0"/>
        <setting id="adult_request_password" type="bool" label="70115"  enable="!eq(-1,0)+!eq(-2,)" default="true"/>
        <setting id="adult_aux_new_password1" type="text" label="70116" option="hidden" enable="!eq(-3,)" default=""/>
        <setting id="adult_aux_new_password2" type="text" label="70117" option="hidden" enable="!eq(-1,)" default=""/>
    </category>

    <!-- Homepage -->
    <category label="70715">
        <setting label="70716" type="lsep"/>
        <setting id="enable_news_menu" label="30130" type="bool" default="true"/>
        <setting id="enable_channels_menu" label="30118" type="bool" default="true"/>
        <setting id="enable_search_menu" label="30103" type="bool" default="true"/>
        <setting id="enable_onair_menu" label="50001" type="bool" default="true"/>
        <setting id="enable_link_menu" label="70527" type="bool" default="true"/>
        <setting id="enable_fav_menu" label="30102" type="bool" default="true"/>
        <setting id="enable_library_menu" label="30131" type="bool" default="true"/>
    </category>

    <!-- Playback -->
    <category label="70753">
        <setting id="player_mode" type="enum" values="Direct|SetResolvedUrl|Built-In|Download and Play" label="30044" default="1"/>
        <setting id="default_action" type="enum" lvalues="30006|30007|30008" label="30005" default="0"/>
        <setting id="autoplay" type="bool" label="70562" default="false" visible="true"/>
        <setting id="hide_servers" type="bool" label="70747" default="false" visible="eq(-1,true)"/>
        <setting id="checklinks" type="bool" label="30020" default="false"/>
        <setting id="checklinks_number" type="enum" values="5|10|15|20" label="30021" default="0" visible="eq(-1,true)"/>
    </category>

    <!-- Videolibrary -->
    <category label="30131">
        <!-- <setting id="downloadpath" type="folder" label="30017" default=""/>
        <setting id="downloadlistpath" type="folder" label="30018" default=""/> -->
        <setting label="30501" type="lsep"/>
        <setting id="videolibrarypath" type="folder" label="30067" default="special://profile/addon_data/plugin.video.kod/videolibrary"/>
        <setting id="folder_tvshows" type="text" label="70118" default="SERIES"/>
        <setting id="folder_movies" type="text" label="70119" default="CINE"/>
        <setting label="59997" type="lsep"/>
        <setting id="videolibrary_kodi_flag" type="number" label="" default="0" visible="false"/>
        <setting id="videolibrary_kodi_force" type="bool" label="" default="false" visible="false"/>
        <setting id="videolibrary_kodi" type="bool" label="70120" enable="lt(-1,2)+eq(0,false)" default="false"/>
        <setting id="videolibrary_max_quality" type="bool" label="70729" default="false" visible="true"/>
        <setting id="next_ep" type="enum" label="70746" lvalues="70752|70747|70748" default="0"/>
        <setting id="next_ep_type" type="select" label="70754" lvalues="70755|70756|70757" default="0" visible="eq(-1,2)"/>
        <!-- <setting id="next_ep_type" type="bool" label="70754" default="false" visible="eq(-1,2)"/> -->
        <setting id="next_ep_seconds" type="enum" values="20|30|40|50|60|70|80|90|100|110|120" label="70749" default="2" visible="!eq(-2,0)"/>
    </category>


    <!-- Downloads -->
    <category label="30153">
        <setting id="downloadenabled" type="bool" label="70689" default="false"/>
        <setting id="downloadpath" type="folder" label="30017" visible="eq(-1,true)" default="special://profile/addon_data/plugin.video.kod/downloads"/>
        <setting id="downloadlistpath" type="folder" label="30018" visible="eq(-2,true)" default="special://profile/addon_data/plugin.video.kod/downloads/list"/>
    </category>

    <!-- Visual -->
    <category label="70126">
        <setting id="icon_set" type="labelenum" label="70108" values="default|light|dark|alfa|mike" default="default"/>
        <setting id="enable_custom_theme" type="bool" label="70564" default="false"/>
        <setting id="custom_theme" type="folder" label="70565" default="" visible="eq(-1,true)"/>
        <setting id="infoplus_set" type="labelenum" label="70128" lvalues="70129|70130" default="70129"/>
        <setting id="video_thumbnail_type" type="enum" label="70131" lvalues="70132|70133" default="0"/>
        <!-- Contextual -->
        <setting label="30024" type="lsep"/>
        <setting id="quick_menu" type="bool" label="60360" default="false"/>
        <setting id="side_menu" type="bool" label="70737" default="false"/>
        <setting id="kod_menu" type="bool" label="30025" default="false"/>
    </category>

    <!-- Other -->
    <category label="70149">
        <setting label="70150" type="lsep"/>
        <setting id="infoplus" type="bool" label="70151" default="true"/>
        <setting id="extended_info" type="bool" label="70152" default="false"/>

		<setting label="70153" type="lsep"/>
		<setting id="shortcut_key" type="action" label="30999" action="RunPlugin(plugin://plugin.video.kod/?ew0KICAgICJhY3Rpb24iOiAia2V5bWFwIg0KfQ==)"/>
        <setting id="delete_key" type="action" label="31000" action="RunPlugin(plugin://plugin.video.kod/?ewogICAgImFjdGlvbiI6ICJkZWxldGVfa2V5Igp9==)"/>

        <setting type="sep"/>
        <setting label="70154" type="lsep"/>
        <setting id="tmdb_active" default="true" visible="false"/>
        <setting id="tmdb_threads" type="labelenum" values="5|10|15|20|25|30" label="70155" default="20"/>
        <setting id="tmdb_plus_info" type="bool" label="70156" default="false"/>
        <setting id="tmdb_cache" type="bool" label="70157" default="true"/>
        <setting id="tmdb_cache_expire" type="enum" lvalues="70158|70159|70160|70161|70170" label="70162" enable="eq(-1,true)" default="4"/>
        <setting id="tmdb_clean_db_cache" type="action" label="70163" action="RunPlugin(plugin://plugin.video.kod/?ew0KICAgICJhY3Rpb24iOiAic2NyaXB0Ig0KfQ==)" />

        <setting type="sep"/>
        <setting label="70578" type="lsep"/>
        <setting id="httptools_timeout" type="labelenum" values="0|5|10|15|20|25|30" label="70580" default="15"/>

        <setting type="sep"/>
        <setting label="70579" type="lsep"/>
        <setting id="addon_update_enabled" type="bool" label="70581" default="true"/>
        <setting id="addon_update_message" type="bool" label="70582" default="true"/>
        <setting id="addon_update_timer" type="labelenum" values="1|2|4|8|24" label="707416" default="1"/>

        <setting label="Lista activa" type="text" id="lista_activa" default="kodfavorites-default.json" visible="false"/>

    </category>
    <!-- Custom Start -->
    <category label="70121">
        <setting id="start_page" type="bool" label="70121" default="false"/>
        <setting id="custom_start" type="bool" label="70122" default="false"
                 visible="eq(-1,True)"/>
        <setting id="news_start" type="bool" label="70123" default="false" visible="eq(-2,True)"
                 enable="eq(-1,False)+eq(-2,True"/>
        <setting id="category" type="labelenum" label="70124"
                 lvalues="70137|30123|30124|60513"
                 default="Film" visible="eq(-3,True)+eq(-1,True)+eq(-2,False)" enable="eq(-3,True)+eq(-1,True)+(-2,false)"/>

    </category>

</settings>
